<header class="header">
  <a href="header-logo">
    <div class="logo_blur">
      <svg class="logo_svg">
        <use href=""></use>
      </svg>
    </div>
  </a>
  <h1>FIND BEST EVENTS AROUND THE WORLD</h1>
  <div>
    <!-- pos rel -->
    <label class="">
      <input type="text" />
      <!-- pos absolute -->
      <svg class="logo_svg">
        <use href=""></use>
      </svg>
    </label>
    <label class="">
      <input type="text" />
      <svg class="logo_svg">
        <use href=""></use>
      </svg>
    </label>
  </div>
</header>
